@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.upper{
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: solid white;
    border-radius: 25px;

   
}
.active{
  color: #21e513;
}
body {
    color: #170a0a;
    background-color: #ffff;
    height: fit-content;
}

::selection {
    background: #E83F3F;
}


.hover {
    background-color: rgb(17, 213, 26);
    opacity: 0.3;
}

.cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: .5;
}
.nav-links{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 1.5rem;
    width: 90vw;
    position:sticky;
}


#tech{
    margin-top: 80px;
    font-size: 1rem;
    padding-bottom: 1rem;
}
.section-technologies {

    text-align: center;
    padding: 5rem;
    animation: 1s ease-in-out;
}
.prayer{
    font-size: 2rem ;
    line-height: 4rem
    ;
    
}



.section-headings h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    padding: 1px;
    margin-top: 100px;
}

a{
    color: #0a0a0a;
}

.heading-stroke-only {
    color: #0a0a0a;
}
.last-name{
    color: #ffffff;
   
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
 
}

.column {
    flex: 50%;
}

/* section: technologies */

#sect3{
    padding-bottom: 4rem;
}

/* section: portfolio */
.section-portfolio {
    margin-top: 150px;
    padding: 10rem;
    text-align: center;
    background-color:rgb(36, 63, 92);
    animation: 1s ease-in-out;
   
}
.link-more {
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
    position: relative;
    transition: 200ms;
}
.link-more::after {
    content: attr(data-text);
    position: absolute;
    font-size: 6rem;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    opacity: 0.1;
    z-index: -1;
    left: -50%;
    top: -50%;
}
.link-more:hover::after {
    content: attr(data-text);
    position: absolute;
    font-size: 6rem;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    opacity: 0.1;
    z-index: -1;
    left: -50%;
    top: -50%;
}
.section-portfolio-grid {
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
}
.portfolio-card {
    text-decoration: none;
    background: #efecec;
    width: 310px;
    border-radius: 10px;
    padding: 15px;
    transition: 200ms;
}
.portfolio-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: 200ms;
}
.portfolio-card .portfolio-card-details  h4 {
    color: #111111;
    font-weight: 400;
}
/* section: portfolio */



/* section: contact */
.section-contact {
    margin-top: 50px;
    text-align: center;
    animation: 1s ease-in-out;
}
.contact-link {
    text-decoration: none;
    color: #022c8d;
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 150px 0;
    position: relative;
    transition: 200ms;
    
   
}
.contact-link:hover {
    text-decoration:underline;
}
/* section: Support */
.section-support{
    background-color:rgb(36, 63, 92);
    margin-top: 50px;
    text-align: center;
    padding:1rem;
    animation: 1s ease-in-out;
}


/* section: footer */
.footer {
    padding: 40px 60px;
    text-align: center;
    color: #090909;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer p {
    font-size: 1rem;
    opacity: 0.5;

}
.footer .footer-logo {
    width: 40px;
    opacity: 0.5;
}
.footer .social-links {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer .social-link {
    text-decoration: none;
    color: #090909;
    outline: none;
}
.footer .social-link svg {
    fill: #090909;
    width: 24px;
    height: 24px;
}
/* section: footer */


/* section: navbar */
.navbar {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 10px;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  background: #090909;
  color: #ffffff;
  
 
}



.nav-link {
    margin-right: 20px;
  color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 200ms;
}
.nav-link:hover {
    color: #28ea13;
}


/* section: navbar */

.nav-link-active {
    color: #2026e4 !important;
    position: relative;
}
.nav-fullscreen-open {
    animation: nav-fullscreen-slide-down .5s ease-out;
    display: block;
}
.nav-full-screen .close {
    position: absolute;
    right: 20px;
    top: 20px;
    background: transparent;
    outline: none;
    border: none;
}
@keyframes nav-fullscreen-slide-down {
    from {
        top:-100vh;
        left: 0;
    }
    to {
        top:0;
        left: 0;
    }
}

.nav-full-screen .social-links {
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-full-screen .social-link {
    text-decoration: none;
    color: #fff;
    outline: none;
}
.nav-full-screen .social-link svg {
    fill: #fff;
    width: 24px;
    height: 24px;
}
/* full screen navigation */




/* section: about */
.section-about {
  padding-top: 1rem;
    text-align: center;
    background-color:rgb(36, 63, 92);

}
.section-about-details {
    
    color: #ffffff;
    width: 50%;
    align-items: center;
    margin: auto;
    padding-bottom: 8rem;
    padding-top: 2rem;
    vertical-align:middle;
    animation: forwards;
}

.section-about-texts {
    text-align: left;

   
}
.section-about-texts p {
    line-height: 2rem;
    font-size: 25px;

}
/* section: about */





/* desktop */
@media screen and (min-width: 768px) {
    .section-hero .hero-skill-heading:hover::after {
        content: attr(data-text);
        position: absolute;
        font-size: 12rem;
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #fff;
        opacity: 0.1;
        z-index: -1;
        left: -3rem;
        top: -3rem;
    }
    .portfolio-card:hover img {
        transition: 200ms;
        transform: scale(1.2) rotate(-10deg) ;
        filter: drop-shadow(4px 4px 40px rgba(255,255,255, 0.3));
    }
}


/* mobile, tablet */
@media screen and (max-width: 768px) {
    * {
        cursor: default;
    }
    


    
    /* section: technologies */
    .section-technologies {
        margin-top: 130px;
        text-align: center;
    }

    
    .section-headings h1 {
        font-size: 2rem;
    }
    #tech{
        font-size: 3rem;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        /* flex-wrap: wrap; */
    }
    
    .column {
        flex: 50%;
    }
    .tech-icon-img {
        width: 85px;
        height: 55px;
        object-fit: contain;
    }
    /* section: technologies */
    
    
    
    /* section: portfolio */
    .section-portfolio {
        margin-top: 130px;
        text-align: center;
    }
    .link-more {
        font-size: 2rem;
    }
    .link-more::after {
        font-size: 4rem;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        opacity: 0.2;
    }
    .link-more:hover::after {
        font-size: 4rem;
        color: #fff;
        opacity: 0.2;   
    }
    .section-portfolio-grid {
        display: flex;
        flex-direction: column;
        gap: 40px;
        flex-wrap: wrap;
        padding: 0 20px;
      
    }
    .portfolio-card {
        width: 100%;
        padding: 20px 0;
    }
    /* section: portfolio */
    
    
    .mt-20 {
        margin-top: 20px;
    }
    .mt-40 {
        margin-top: 40px;
    }
    .mt-60 {
        margin-top: 60px;
    }
    .mt-80 {
        margin-top: 80px;
    }
    /* section: contact */
    .contact-link {
        font-size: 1.5rem;
        margin: 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* section: contact */
    
    
    /* section: footer */
    .footer {
        margin-top: 80px;
        padding: 40px 60px;
        text-align: center;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
    }
    /* section: footer */
    
    
    /* section: navbar */
    .navbar {
        display: flex;
        padding: 10px 10px;
        
    }
    /* section: navbar */
    

    /* full screen navigation */
    .nav-full-screen .nav-link {
        font-size: 2rem;
        display: block;
        margin-top: 30px;
       
    }
  
    /* full screen navigation */


    /* section: about */
    .section-about-details {
        flex-direction: column;
    }
    .section-about-image img {
        width: 300px;
    }
    .section-about-image {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
.profile{
    width: 100%;
    height: 50vh;
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 10px;
   object-fit: cover;
}
.image-text{
    font-size: 5vw;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
    margin: 0;
    padding-top: 10rem;
}
.image-text{
    color: #ffffff;
}
#section1{
   
    background:
    linear-gradient(rgba(0,0,0,.2), rgba(10,10,10,1)),
    url('../images/realin.jpeg')
    center calc(50% - 20%)/cover;
  top: 0;
  left: 0;
  height: 70vh;
  height: 70vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;


}
.svg{
    width: 30px;
}
